### Notebook creating a csv file with politician names and their corresponding US state

#### only a small selection of people - can add more later

In [2]:
import pandas as pd
# Files with congress people in them (2015 - present)
congress_114 = pd.read_csv("term-114.csv")
congress_115 = pd.read_csv("term-115.csv")
congress_116 = pd.read_csv("term-116.csv")

In [4]:
#only current senators
senators = pd.read_csv("us_senators.csv")

In [5]:
congress_114['area'] = congress_114['area'].str.split("'")
congress_115['area'] = congress_115['area'].str.split("'")
congress_116['area'] = congress_116['area'].str.split("'")

In [6]:
congress_114['area'] = congress_114['area'].str[0]
congress_115['area'] = congress_115['area'].str[0]
congress_116['area'] = congress_116['area'].str[0]

In [7]:
congress = pd.concat([congress_114, congress_115, congress_116])

In [8]:
congress.name.value_counts()

Michael T. McCaul       3
Linda T. Sánchez        3
Marcy Kaptur            3
Marcia L. Fudge         3
Marc A. Veasey          3
                       ..
Scott Garrett           1
Stephen Lee Fincher     1
Steve Israel            1
Tammy Duckworth         1
Xochitl Torres Small    1
Name: name, Length: 603, dtype: int64

In [9]:
congress = congress.drop_duplicates(subset=['name'])
congress.shape

(603, 19)

In [54]:
congress.head()

,id,name,sort_name,email,twitter,facebook,group,group_id,area_id,area,chamber,term,start_date,end_date,image,gender,wikidata,wikidata_group,wikidata_area
0,cfc9cc09-a33a-42d9-89c3-14effb20b8b0,Aaron Schock,"Schock, Aaron",NaN,AaronSchock,RepAaronSchock,Republican,republican,IL-18,Illinois,House of Representatives,114,NaN,2015-03-31,https://theunitedstates.io/images/congress/ori...,male,Q302659,Q29468,Q3032529
1,e0b61cab-a183-4a44-bb0a-81f25fda8de3,Adam B. Schiff,"Schiff, Adam",NaN,RepAdamSchiff,RepAdamSchiff,Democrat,democrat,CA-28,California,House of Representatives,114,NaN,NaN,https://theunitedstates.io/images/congress/ori...,male,Q350843,Q29552,Q5020000
2,159bbcc4-afee-4a5d-9097-e2be4d8ca9c7,Adam Kinzinger,"Kinzinger, Adam",NaN,RepKinzinger,RepKinzinger,Republican,republican,IL-16,Illinois,House of Representatives,114,NaN,NaN,https://theunitedstates.io/images/congress/ori...,male,Q349955,Q29468,Q3477977
3,fed6fe02-7935-4711-a190-fed9abd0a5ae,Adam Smith,"Smith, Adam",NaN,RepAdamSmith,RepAdamSmith,Democrat,democrat,WA-9,Washington,House of Representatives,114,NaN,NaN,https://theunitedstates.io/images/congress/ori...,male,Q350916,Q29552,Q7971571
4,4eb41831-ea19-4833-86f9-6f6c3ba72451,Adrian Smith,"Smith, Adrian",NaN,RepAdrianSmith,NaN,Republican,republican,NE-3,Nebraska,House of Representatives,114,NaN,NaN,https://theunitedstates.io/images/congress/ori...,male,Q373443,Q29468,Q6984664

In [10]:
names = congress.name

In [11]:
sen_names = senators.Senator

In [ ]:
dataframe

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
33,2020-01-20-000982,a host of other protections,Debbie Lesko,[Q16731415],2020-01-20 15:32:48,1,"[[Debbie Lesko, 0.4784], [None, 0.4105], [Ed M...",[https://www.cleveland.com/open/2020/01/the-eq...,E
119,2020-03-24-004650,And they are working towards delivering their ...,Mike Pompeo,[Q473239],2020-03-24 03:45:00,2,"[[Mike Pompeo, 0.8155], [None, 0.1826], [Abdul...",[http://www.msn.com/en-us/news/world/pompeo-cu...,E
146,2020-03-24-005548,arts workers are right up there. They are alre...,Chellie Pingree,[Q457243],2020-03-24 00:28:24,1,"[[Chellie Pingree, 0.7979], [None, 0.2021]]",[https://www.centralmaine.com/2020/03/23/arts-...,E
170,2020-01-15-008152,Assuring a legal workforce through E-Verify wi...,Ron DeSantis,[Q3105215],2020-01-15 15:54:05,2,"[[Ron DeSantis, 0.5834], [None, 0.3941], [Bill...",[http://cltampa.com/news-views/florida-news/ar...,E
330,2020-01-15-014697,cross a very important threshold in American h...,Nancy Pelosi,[Q170581],2020-01-15 18:58:16,1,"[[Nancy Pelosi, 0.8052], [None, 0.1902], [Pres...",[http://thehill.com/homenews/house/478429-pelo...,E
...,...,...,...,...,...,...,...,...,...
5244259,2020-03-24-087061,We're a new publisher with limited capacity. I...,John Kennedy,"[Q16090838, Q16105132, Q16195622, Q1700694, Q2...",2020-03-24 09:00:00,1,"[[John Kennedy, 0.9458], [None, 0.0542]]",[http://www.theglobeandmail.com/arts/books/art...,E
5244321,2020-02-10-102896,What's happening here is a jailhouse shake-dow...,Bernie Sanders,[Q359442],2020-02-10 00:18:32,8,"[[Bernie Sanders, 0.5392], [None, 0.4608]]",[http://feeds.cbsnews.com/~r/CBSNewsHealth/~3/...,E
5244363,2020-02-09-057933,"Who will respect different types of people, di...",Susan Wild,[Q58323072],2020-02-09 15:08:23,1,"[[Susan Wild, 0.6715], [None, 0.1941], [Chriss...",[https://insurancenewsnet.com/oarticle/andrew-...,E
5244374,2020-04-02-084698,will help families have children in the wake o...,Jared Polis,[Q935734],2020-04-02 21:45:00,1,"[[Jared Polis, 0.8296], [None, 0.1704]]",[http://gazette.com/news/gov-jared-polis-to-ge...,E
5244401,2020-01-28-113424,"yep, it was true, every word of it, so get ove...",Mick Mulvaney,[Q1235731],2020-01-28 20:47:12,1,"[[Mick Mulvaney, 0.3991], [Donald John Trump, ...",[http://thetruthwithnorestriction.wordpress.co...,E

In [46]:
congress.columns

Index(['id', 'name', 'sort_name', 'email', 'twitter', 'facebook', 'group',
       'group_id', 'area_id', 'area', 'chamber', 'term', 'start_date',
       'end_date', 'image', 'gender', 'wikidata', 'wikidata_group',
       'wikidata_area'],
      dtype='object')

In [12]:
congressdropped = congress.drop(columns = ['id', 'sort_name', 'email', 'twitter', 'facebook', 'group',
       'group_id', 'area_id', 'chamber', 'term', 'start_date',
       'end_date', 'image', 'gender', 'wikidata', 'wikidata_group',
       'wikidata_area'])

In [13]:
senators.columns

Index(['State', 'Portrait', 'Senator', 'Party', 'Party.1', 'Born',
       'Occupation(s)', 'Previous electiveoffice(s)', 'Education',
       'Assumed office', 'Term up', 'Residence'],
      dtype='object')

In [14]:
congressdropped = congressdropped.rename(columns={"area": "state", "name": "speaker"})
congressdropped

                   speaker           state
0             Aaron Schock        Illinois
1           Adam B. Schiff      California
2           Adam Kinzinger        Illinois
3               Adam Smith      Washington
4             Adrian Smith        Nebraska
..                     ...             ...
424             Van Taylor           Texas
426       Veronica Escobar           Texas
430      W. Gregory Steube         Florida
435  William R. Timmons IV  South Carolina
437   Xochitl Torres Small      New Mexico

[603 rows x 2 columns]

In [15]:
senatorsdropped = senators.drop(columns = ['Portrait', 'Party', 'Party.1', 'Born',
       'Occupation(s)', 'Previous electiveoffice(s)', 'Education',
       'Assumed office', 'Term up', 'Residence'])

In [16]:
senatorsdropped = senatorsdropped.rename(columns = {'State': 'state', 'Senator': 'speaker'})
senatorsdropped

            state               speaker
0         Alabama        Richard Shelby
1         Alabama      Tommy Tuberville
2          Alaska        Lisa Murkowski
3          Alaska          Dan Sullivan
4         Arizona        Kyrsten Sinema
..            ...                   ...
95  West Virginia  Shelley Moore Capito
96      Wisconsin           Ron Johnson
97      Wisconsin         Tammy Baldwin
98        Wyoming         John Barrasso
99        Wyoming        Cynthia Lummis

[100 rows x 2 columns]

In [17]:
sen_con = pd.concat([senatorsdropped, congressdropped])
sen_con = sen_con.drop_duplicates(subset=['speaker'])

In [21]:
sen_con.to_csv("politicians.csv", index = False)

In [19]:
sen_con

              state                speaker
0           Alabama         Richard Shelby
1           Alabama       Tommy Tuberville
2            Alaska         Lisa Murkowski
3            Alaska           Dan Sullivan
4           Arizona         Kyrsten Sinema
..              ...                    ...
424           Texas             Van Taylor
426           Texas       Veronica Escobar
430         Florida      W. Gregory Steube
435  South Carolina  William R. Timmons IV
437      New Mexico   Xochitl Torres Small

[695 rows x 2 columns]